body {
font-family: 'Times New Roman', Times, serif;
margin: 0;
padding: 0;
color: #333;
}

header {
background-color: #052629;
color: #fff;
padding: 10px 0;
text-align: center;
}

nav a {
color: #fff;
text-decoration: none;
margin: 0 20px;
}

.hero {
background-color: #3d5c5c;
color: #fff;
padding: 50px 0;
text-align: center;
}

.hero h1 {
font-size: 3em;
}

.product-grid {
background-color: #052629;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap: 70px;
padding: 50px;
}

.product {
border: 1px solid #333;
padding: 20px;
width: 200px;
height: 300px;
}

.product-image {
    display: flexbox;
background-color: #0c1616;
color: #fff;
padding: 10px 0;
text-align: center;
}

.blog {
padding: 50px;
background-color: #3d5c5c;
color: white;
}

.blog article {
margin-bottom: 20px;
}

.blog article h3 {
font-size: 2em;
}

.blog article p {
margin-bottom: 10px;
}

.social-media {
    background-color: #052629;
color: #fff;
padding: 20px;
text-align: center;
}

.social-media a {
color: #fff;
text-decoration: none;
margin: 0 20px;
}
button{
    padding: 3%;
    background-color: #052629;
    border-color: greenyellow;
    color: greenyellow;
}
.fig{
    color: #777;
    height: 150px;
    width: 200px;
}
h2{
color: white;
}
.PP{
    text-align: center;
    color: white; 
    background-color:#052629;
    margin: 0px;
    height: 60px;
}
.artefact{
    background-color: #052629;
    margin-top: 0px;
    padding-top: 100px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}
.img{
    display: flexbox;
    background-color: #0c1616;
    color: #fff;
    padding: 10px 0;
    margin: 0% 40% 0% 10%;
    height: 300px;
}